@font-face {
    font-family: "perpetua";
    src: url("../../public/assets/PerpetuaTitlingMTLight2.ttf") format("woff2");
}
@font-face {
    font-family: "futuraBook";
    src: url("../../public/assets/Futura\ Book\ font.ttf") format("woff2");
}
@font-face {
    font-family: "futuraMedium";
    src: url("../../public/assets/futura\ medium\ bt.ttf") format("woff2");
}
