// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Font
@import "font";

// Mixin
@import "mixin";

//Welcome
@import "welcome";

//Basket
@import "basket";

//login
@import "login";

//login
@import "register";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.navbar-brand {
    padding-top: 9px !important;
}
.nav-link {
    font-family: "futuraBook";
    color: $text-color !important;
    &:hover {
        color: rgb(131, 131, 131) !important;
    }
}

.m-b-md {
    margin-bottom: 30px;
}
footer {
    background-color: rgba(92, 134, 96, 0.85);
    display: flex !important;
    flex-direction: column;
    height: 200px;
    @include tablet {
        height: 500px;
    }
    hr {
        border: 1px solid #000000;
        width: 1000px;
        @include tablet {
            width: 300px;
        }
    }
    .liste-contact {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        @include tablet {
            flex-direction: column;
            height: 350px;
            width: 100%;
        }
        .unit-contact {
            width: 250px;
            display: flex;
            @include tablet {
                height: 50px;
                margin: auto;
            }
            .logo-footer {
                width: 70px;
                background-size: 45px;
                background-repeat: no-repeat;
            }
            #logo-footer-1 {
                background-image: url("../../public/assets/time.png");
            }
            #logo-footer-2 {
                width: 50px;
                background-image: url("../../public/assets/mail.png");
            }
            #logo-footer-3 {
                width: 50px;
                background-image: url("../../public/assets/phone.png");
            }
            #logo-footer-4 {
                background-image: url("../../public/assets/point.png");
            }
            .text {
                @include text;
                height: max-content;
            }
            #text-footer-2 {
                margin: auto;
            }
            #text-footer-3 {
                margin: auto;
            }
        }
        #unit-contact-3 {
            width: 150px;
        }
    }
}
.logo-image {
    @include background("../../public/assets/Perma-Farmer.png");
    height: 208px;
    width: 281px;
    margin: auto;
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: top -11px left -11px;
}
.compte-header {
    @include title($title-color);
    text-decoration: underline;
    margin: auto;
}
.compte-card {
    margin: auto;
    p {
        @include text;
    }
}
.compte-card-edit {
    p,
    h5,
    h3,
    input,
    select {
        @include text;
    }
}
.ok-compte {
    margin: auto;
}
.ok-compte-container {
    display: flex;
}
.card-compte {
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.btn-compte-valid {
    margin-right: 100px;
}
.btn-compte-delete {
    margin-left: 100px;
}
.link-admin {
    @include title($box-shadow-color-2);
    font-size: 30px !important;
}
.admin-image {
    margin-bottom: 200px;
}
.list-link-admin {
    width: 1200px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.btn-valid-bag{
    margin-top:20px;
}
